.address {
  display: flex;
  flex-direction: column;
}

// .address__container {}

.address__map {
  order: 2;
}

.address__wrapper {
  background-color: $bg-text-white;
  padding: 26px 0;
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
    justify-content: space-between;
    gap: 50px;
  }
}

.address__text {
  width: 140px;
  font-family: $primary-font;
  font-size: $title-xs;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color;
  margin: 0;
  flex-wrap: wrap;
  order: 1;

  @media (min-width: $tablet-width) {
    line-height: 26px;
    font-size: $title-size;
    min-width: 163px;
    min-height: 78px;
  }
}

.address-info {
  width: 140px;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    font-size: $title-xs;
    min-width: 157px;
    min-height: 80px;
  }
}

.address-info__text {
  display: flex;
  font-family: $secondary-font;
  font-weight: inherit;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  font-style: normal;
  margin: 0;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    text-align: end;
    flex-direction: column;
  }
}

.address-info__desc {
  font-family: $secondary-font;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  display: block;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    margin-top: 20px;
  }
}
