.address {
}

.address__container {}

.address__map {
  width: 320px;
  margin: 0 auto;
}

.address__wrapper {
  background-color: $background-grey;
}

.address__text {
  font-family: $primary-font;
  font-size: $title-xs;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color;
  margin: 0;
  flex-wrap: wrap;
}

.address-info {}

.address-info__text {
  font-family: $secondary-font;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  font-style: normal;
  margin: 0;
  flex-wrap: wrap;
}

.address-info__desc {
  font-family: $secondary-font;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  display: block;
  flex-wrap: wrap;
}
