.name-logo {
  align-self: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $bg-borders;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.name-logo__link {
  text-decoration: none;
}

// .name-logo__icon {}
